img {
    border-radius: 20%;
}
img {
    margin-top: 1em;
}
main {
    align-content: center;
}
.telefono::marker {
    content: "📞";
}
.telefono:hover::marker {
    content: "📶";
}
.correo::marker {
    content: "📪";
}
.correo:hover::marker {
    content: "📬";
}
.ciudad::marker {
    content: "📍";
}