img {
    margin: 1.2em;
    height: 300px;
    padding: 0.4em;
    background-color: black;
    box-shadow: 0 0px 9px 4px;
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
