

/*Info principal*/

.InfoHeader {
    padding: 2em;
    padding-top: 1em;
    
    text-align: justify;
    align-self: center;
    justify-content: center;
    grid-gap: 2em;
}
.InfoHeader > p {
    text-align: center;
}
.InfoHeader > img {
    display: block;
    border-radius: 20%;
    margin: 20px auto;
}
.InfoHeader > h2, .InfoHeader > a {
    text-align: center;
}
.InfoHeader > h2{
    grid-column:1/1 ;
    grid-row: 1/2;
}
.InfoHeader > a{
    font-size: 1.5rem;
    grid-column:1/1 ;
    grid-row: 2/3;
}
.InfoHeader > img {
    grid-row: 1/4;
    grid-column: 2/4;
}
.NombreTitulo {
    text-align: center;
    font-size: 40px;
}

/*Tabla*/
table {
    margin: auto;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}   


tr {
    margin: auto;
    text-align: center;
}
/*Listas*/

.estudios > ul > li::marker {
    content: "📗";
}
.estudios > ul > li:hover::marker {
    content: "📖";
}
.habilidades > ul > li::marker {
    content: "⚙️";
}
.habilidades > ul > li:hover::marker {
    content: "🔩";
}
.softskills > ul > li::marker {
    content: "🪶";
}
.softskills > ul > li:hover::marker {
    content: "✒️";
}
@media screen and (width > 900px) {
* {
    font-size: 1.01em;
}
.InfoHeader {
    display: grid;
}
.InfoHeader > .parrafo{
    font-size: 2em;
    text-align: justify;
}
img {
    width: 30em;
}
}
