/* Detalles generales */
* {
    font-family:'Helvetica Neue', Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}
/* Estructura del Header */
header {
    background-color: pink;
    display: flex;
    flex-direction: column;
}
.InfoHeader {
    padding: 2em;
    display: grid;
    align-self: center;
    justify-content: center;
    grid-gap: 2em;
}
.InfoHeader > h2, .InfoHeader > a {
    text-align: center;
}
.InfoHeader > h2{
    font-size: 2rem;
    grid-column:1/1 ;
    grid-row: 1/2;
}
.InfoHeader > a{
    font-size: 1.5rem;
    grid-column:1/1 ;
    grid-row: 2/3;
}
.InfoHeader > img {
    grid-row: 1/4;
    grid-column: 2/4;
}
.NombreTitulo {
    text-align: center;
    font-size: 40px;
}

/* Botones */
.boton-subir {
    right: 2rem;
    bottom: 2rem;
    position: fixed;

}